snippet fun "function"
function $1($2) {
	$3
}
endsnippet

snippet main "main function"
function main(argv) {
	$1
}

if (!module.parent) {
	main(process.argv)
}
endsnippet

snippet desc "mocha style test"
describe('$1', () => {
	it('$2', () => {
		$3
	})
})
endsnippet
